---
import Nav from "./Nav.astro";
---

<header
    class="sticky top-0 z-50 w-full backdrop-blur-md border-b border-gray-200 dark:border-gray-800"
>
    <div class="max-w-7xl mx-auto h-14 flex items-center px-4">
        <Nav />
    </div>
</header>
