---
import Button from '../components/button-theme.astro'
import Icon from '../components/icone.astro'
import Search from '../components/search-input.astro'
---

<nav class="flex justify-between items-center w-300 mx-auto">
    <Icon />
    <div class="flex items-center">
        <Search />
        <Button />
    </div>
</nav>
