---
import Button from "../components/button-theme.astro";
import Icon from "../components/icone.astro";
---

<nav class="flex justify-between items-center w-full">
    <Icon />
    <div class="flex items-center gap-4">
        <Button />
    </div>
</nav>
